.App {
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
}

.App-logo {
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
}

.App-link {
}

@keyframes App-logo-spin {
}

.heading{
  height: 20px;
  align-content: center;
  margin: 20px;
}